<a href="https://colab.research.google.com/github/manuelecapece/Unibas-Progetto-Big-data-2022-23/blob/main/QueryGianfrancoCanora.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from google.colab.data_table import DataTable
from google.colab import drive
from google.colab import files

In [2]:
drive.mount('/content/drive')
pd.set_option('display.max_columns', None)
DataTable.max_columns = 99

Mounted at /content/drive

In [42]:
path_job = '/content/drive/Shareddrives/Progetto Big Data/DataSet Puliti/labouref-france-departement-quarter-jobseeker_cleaned.csv'
df_job = pd.read_csv(path_job, sep = ';')

In [9]:
df_job.head()

,Date,Catégorie,Tranche d'âge,Nb moyen demandeur emploi,Différence Nb demandeur emploi trimestre précédent,Code Officiel Département,Code Officiel Région,Nom Officiel Région,Code Iso 3166-3 Zone,Nom Officiel Département,Période,Trimestre
0,2002-04-01,B,Indifférent,2310,30.0,11,76,Occitanie,FXX,Aude,2002,T2
1,2007-10-01,B,Indifférent,2900,0.0,11,76,Occitanie,FXX,Aude,2007,T4
2,2012-10-01,B,Indifférent,4080,10.0,11,76,Occitanie,FXX,Aude,2012,T4
3,2017-01-01,B,Indifférent,4810,-10.0,11,76,Occitanie,FXX,Aude,2017,T1
4,2017-07-01,B,Indifférent,4950,130.0,11,76,Occitanie,FXX,Aude,2017,T3

In [8]:
df_job.dtypes

Date                                                  datetime64[ns]
Catégorie                                                     string
Tranche d'âge                                                 string
Nb moyen demandeur emploi                                      int64
Différence Nb demandeur emploi trimestre précédent           float64
Code Officiel Département                                     string
Code Officiel Région                                           int64
Nom Officiel Région                                           string
Code Iso 3166-3 Zone                                          string
Nom Officiel Département                                      string
Période                                                        int64
Trimestre                                                     string
dtype: object

In [43]:
df_job[['Trimestre','Catégorie','Tranche d\'âge','Nom Officiel Région','Code Iso 3166-3 Zone','Nom Officiel Département','Code Officiel Département']] = df_job[['Trimestre','Catégorie','Tranche d\'âge','Nom Officiel Région','Code Iso 3166-3 Zone','Nom Officiel Département','Code Officiel Département']].astype("string")
df_job['Période'] = df_job['Période'].astype('int64')
df_job['Date'] = pd.to_datetime(df_job['Date'])

## I 20 dipartimenti con la minore disoccupazione

In [53]:
#Numero medio di persone in cerca di lavoro
# Nb moyen demandeur emploi

#Prendo gli ultimi sondaggi dei dipartimenti ed elimino i precedenti 
df_job= df_job.sort_values(by=['Date']).drop_duplicates(subset='Nom Officiel Département', keep='last')

In [54]:
df_job = df_job.sort_values('Nb moyen demandeur emploi')
df_job.head(20)

,Date,Catégorie,Tranche d'âge,Nb moyen demandeur emploi,Différence Nb demandeur emploi trimestre précédent,Code Officiel Département,Code Officiel Région,Nom Officiel Région,Code Iso 3166-3 Zone,Nom Officiel Département,Période,Trimestre
25904,2022-10-01,ABC,Moins de 25 ans,1310,-10.0,32,76,Occitanie,FXX,Gers,2022,T4
22772,2022-10-01,D,Indifférent,1670,-110.0,79,75,Nouvelle-Aquitaine,FXX,Deux-Sèvres,2022,T4
19448,2022-10-01,E,Indifférent,1720,-50.0,19,75,Nouvelle-Aquitaine,FXX,Corrèze,2022,T4
5770,2022-10-01,B,Indifférent,1870,10.0,973,3,Guyane,GUF,Guyane,2022,T4
44280,2022-10-01,C,Indifférent,2120,110.0,23,75,Nouvelle-Aquitaine,FXX,Creuse,2022,T4
18710,2022-10-01,E,Indifférent,2370,-20.0,86,75,Nouvelle-Aquitaine,FXX,Vienne,2022,T4
39098,2022-10-01,ABC,Moins de 25 ans,3150,20.0,73,84,Auvergne-Rhône-Alpes,FXX,Savoie,2022,T4
22853,2022-10-01,D,Indifférent,3430,-130.0,66,76,Occitanie,FXX,Pyrénées-Orientales,2022,T4
29123,2022-10-01,ABC,Moins de 25 ans,3680,-10.0,16,75,Nouvelle-Aquitaine,FXX,Charente,2022,T4
10641,2022-10-01,ABC,Entre 25 et 49 ans,3760,-80.0,15,84,Auvergne-Rhône-Alpes,FXX,Cantal,2022,T4
43974,2022-10-01,ABC,Moins de 25 ans,4030,210.0,40,75,Nouvelle-Aquitaine,FXX,Landes,2022,T4
34263,2022-10-01,ABC,Indifférent,4060,50.0,48,76,Occitanie,FXX,Lozère,2022,T4
6562,2022-10-01,ABC,Moins de 25 ans,4470,160.0,11,76,Occitanie,FXX,Aude,2022,T4
44083,2022-10-01,ABC,Plus de 50 ans,4690,-20.0,04,93,Provence-Alpes-Côte d'Azur,FXX,Alpes-de-Haute-Provence,2022,T4
26681,2022-10-01,ABC,Moins de 25 ans,4930,100.0,972,2,Martinique,MTQ,Martinique,2022,T4
44033,2022-10-01,ABC,Moins de 25 ans,5140,50.0,01,84,Auvergne-Rhône-Alpes,FXX,Ain,2022,T4
4150,2022-10-01,E,Indifférent,5400,-160.0,30,76,Occitanie,FXX,Gard,2022,T4
13635,2022-10-01,C,Indifférent,5630,150.0,43,84,Auvergne-Rhône-Alpes,FXX,Haute-Loire,2022,T4
27282,2022-10-01,C,Indifférent,6910,-50.0,53,52,Pays de la Loire,FXX,Mayenne,2022,T4
15003,2022-10-01,ABC,Entre 25 et 49 ans,7640,30.0,46,76,Occitanie,FXX,Lot,2022,T4

## I 20 dipartimenti con il maggiore reddito pro capite

## I 20 dipartimenti con il minore reddito pro capite

## I 20 dipartimenti con la maggiore percentuale di vaccinazioni COVID

## I 20 dipartimenti con la minore percentuale di vaccinazioni COVID